<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MockWise.AI</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="font-afacad bg-[#E8E8E8] flex flex-col h-screen">
    <header class="flex justify-center">
        <div class="container content-center text-[#000000] h-[55px] lg:h-[100px] md:h-[77.5px] px-[15px] max-w-[1230px]
            duration-500 ease-in-out">
            <nav class="header__wrapper flex justify-between items-center" id="header">
                <div class="header__logo">
                    <a href="/" class="flex lg:gap-[10px] md:gap-[11px] sm:gap-[9px] gap-[8px] items-center duration-500 ease-in-out">
                        <img src="{{ url_for('static', filename='/images/Logo.png') }}" alt="logo" class="w-[42px]
                            md:w-[50px] lg:w-[52px]">
                        <h2 class="text-[22px] lg:text-[30px] md:text-[25px] hidden md:block duration-500 ease-in-out">MockWise AI</h2>
                    </a>    
                </div>

                <div class="login__signup flex lg:gap-[26px] md:gap-[16px] gap-[8px] lg:text-[20px]
                    md:text-[18px] text-[17px] duration-500 ease-in-out">   
                    <!-- <a href="" class="lg:text-[#FAFAFA]">Login</a>   -->
                    <a href="{{ url_for('signup') }}" class="lg:text-[#000000]">Sign Up</a>
                </div>
            </nav>
        </div>
    </header>    

    <section class="login flex justify-center items-center p-6 w-full lg:w-[50%] h-[100%] left-0 top-0 md:duration-650
        ease-in-out">
        <div class="container">
            <div class="login__wrapper flex justify-center">
                <div class="login__contents flex flex-col gap-[22px]">
                    <h2 class="text-[28px] font-bold text-black">Welcome back,<br/>Sign in to continue</h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} mb-4 p-3 rounded">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form id="login-form" method="POST" action="{{ url_for('login') }}" class="w-[370px] flex flex-col gap-[22px] mb-10">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="text" name="username" placeholder="Username" class="w-full p-2 rounded bg-[#FFFFFF] text-[#1b1f26] text-[22px]" required>
            
                        <div class="password">
                            <div class="password__wrap relative w-full rounded bg-[#FFFFFF] text-[#1b1f26] text-[22px] mb-2">
                                <input type="password" name="password" id="login-password-input" placeholder="Password" class="w-full p-2 rounded" required>
                                <button type="button" id="login-password-btn" class="absolute top-[50%] right-[8px] translate-[-50%]">
                                    <img src="{{ url_for('static', filename='images/eye-open.svg') }}" alt="Show Password" class="w-[20px]">
                                </button>
                            </div>
            
                            <h2 class="text-xl font-bold text-[#2269D4]"><a href="{{ url_for('request_reset') }}">Forgot Password?</a></h2>
                        </div>
                        
            
                        <button type="submit" data-action="login-submit" class="text-[#FAFAFA] bg-[#242424] lg:text-[22px] md:text-[18px] text-[16px]
                            rounded-[4px] px-[20px] py-[7px] hover:shadow-2xl hover:bg-[#FAFAFA] hover:text-[#1b1f26] transition
                            duration-300 ease-in-out">
                            Log in
                        </button>
                    </form>
                    <h2 class="text-xl font-bold text-[#000000s] flex flex-col items-center">
                        By signing in, you agree to our <br/> 
                        <a href="{{ url_for('privacy_policy') }}"><span class="text-[#2269D4] font-bold">Privacy Policy</span></a>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <div class="login__bg fixed h-[100%] right-0 top-0 z-[-1] lg:w-[50%] hidden lg:block">
        <img src="{{ url_for('static', filename='/images/logo_side_banner.png') }}" alt="bgimage" class="h-full w-full object-cover opacity-[70%]">
    </div>

    <script>
        const LogInPwBtn = document.querySelector('#login-password-btn');
        const LogInPwIcon = LogInPwBtn.querySelector('img');
        const LogInPwInput = document.querySelector('#login-password-input');

        LogInPwBtn.addEventListener('click', () => {
            const isPassword = LogInPwInput.type === 'password';
            LogInPwInput.type = isPassword ? 'text' : 'password';
            LogInPwIcon.src = isPassword 
                ? "{{ url_for('static', filename='images/eye-close.svg') }}"
                : "{{ url_for('static', filename='images/eye-open.svg') }}";
        });
    </script>
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

</body>
</html>